<app-header></app-header>
<div  class="container py-3">
    <div class="container my-5">
        <div class="col-12 col-md-7 mx-auto sombra" style="border-style: solid !important; border-color: #858586 !important; border-width: 1px; border-radius: 10px; padding: 0px !important;">
            <div class="card cardosl">
                <div class="card-body py-5">
                    <div class="px-2">
                        <p class="h3 font-weight-bold text-center titleosl">Crear nuevo cliente</p>
                        <br>
                        <p class="text-center text-muted">Completa todos los datos para crear un nuevo cliente de forma satisfactoria</p>
                        <hr>
                            <div>
                                <div class="form-group">
                                    <p>Nombre del cliente<b class="text-danger">*</b></p>
                                    <input type="text" [(ngModel)]="nombre" class="form-control" placeholder="Ej: Juan">
                                </div>
                                <div class="form-group">
                                    <p>No. de identificación <b class="text-danger">*</b></p>
                                        <input type="text" [(ngModel)]="identificacion" class="form-control" placeholder="Ej: 1234567890">
                                </div>
                            </div>


                        <div>
                            <button class="btn btn-osl btn-block" (click)="crear()">Crear cliente</button>


                            <button class="btn btn-dark btn-block" routerLink="/home">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
