<app-header></app-header>
<div class="container mt-5">
    <!-- bienvenido -->
    <h2><strong>Clientes</strong></h2>
    <br>
    <ol class="list-group list-group-numbered" *ngFor="let cliente of this.clientes">
        <li class="list-group-item" style="height: 60px ">
            {{cliente.name}}
            <button class="btn btn-osl3 btn-block" style="right: 10px !important; position:absolute" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="cargadatos(cliente)"> Añadir vehiculo </button>
        </li>
    </ol>
    <br>
    <button class="btn btn-dark btn-block" routerLink="/home">Volver</button>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">{{clientedata.name}}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label">Cliente:</label>
                  <input type="text" disabled [(ngModel)]="id" class="form-control" id="recipient-name">
                </div>
                <div class="mb-3">
                  <label for="message-text" class="col-form-label">Placa:</label>
                  <input class="form-control" [(ngModel)]="placa" id="message-text">
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-osl3" (click)="agregarplaca(placa)">Agregar placa</button>
            </div>
          </div>
        </div>
    </div>
    
</div>
<app-footer></app-footer>
