<div class="container mt-5">
  <h2><strong>Clientes</strong></h2>
  <br>
  <div class="row">
    <div class="card cardOp col-6 col-md-5" *ngFor="let cliente of this.clientes">
      <div class="card-body mx-auto center">
        <strong class="h6" style="font-weight: 700;">Cliente:</strong>
        <span>{{cliente.name}}</span>
        <br>
        <br>

  
        <button class="btn btn-dark btn-osl4 btn-block" data-bs-toggle="modal" data-bs-target="#exampleModal" style="margin-right: 20px !important;" (click)="cargadatos(cliente)"> Añadir vehiculo </button>
  
        <button class="btn btn-osl3 btn-block"  data-bs-toggle="modal" data-bs-target="#exampleModal2" (click)="cargadatos(cliente)"> Ver más</button>
  
      </div>
    </div>
  </div>
  



  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{clientedata.name}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="message-text" class="col-form-label">Placa:</label>
          <input class="form-control" [(ngModel)]="placa" id="message-text">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-osl3" (click)="agregarplaca(placa)">Agregar placa</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModal2Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModal2Label">Datos del cliente</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="recipient-name" class="col-form-label">Cliente:</label>
          <input type="text" [(ngModel)]="name" class="form-control" id="recipient-name">
        </div>
        <div class="mb-3">
          <label for="recipient-name" class="col-form-label">identificacion:</label>
          <input type="text" [(ngModel)]="identificacion" class="form-control" id="recipient-name">
        </div>
        <div class="mb-3">
          <label for="message-text" class="col-form-label">Placas:</label>
          <h6 *ngIf="vacioplaca == true">Este usuario no tiene placas registradas</h6>
          <div class="card" *ngFor="let pla of this.placas">
            <div class="card-body">
              {{pla.placa}}
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-osl3" (click)="editaruser()">Editar user</button>
      </div>
    </div>
  </div>
</div>
    
</div>
