<div class="container mt-5">

    <h2><strong>Registros</strong></h2>
    <br><br><br>
    <div class="mx-auto" style="text-align: center;">
      <h3 *ngIf="this.registros.length == 0"><strong>No tiene registros</strong></h3>
    </div>
    <table class="table" *ngIf="this.registros.length != 0">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Cliente</th>
            <th scope="col">Vehiculo</th>
            <th scope="col">Operacion</th>
            <th scope="col">No. de galones</th>
            <th scope="col">Lectura inicial</th>
            <th scope="col">Lectura final</th>
            <th scope="col">Valor</th>
            <th scope="col">Conductor</th>
            <th scope="col">Operario</th>
            <th scope="col">Observaciones</th>
            <th scope="col">Descarga</th>

          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let registro of registros">
              <td>{{registro._id}}</td>
              <td>{{registro.data.cliente.name}}</td>
              <td>{{registro.data.vehiculo}}</td>
              <td>{{registro.data.operacion.name}}</td>
              <td>{{registro.data.galones}}</td>
              <td>{{registro.data.l_inicial}}</td>
              <td>{{registro.data.l_final}}</td>
              <td>{{registro.data.valor}}</td>
              <td>{{registro.data.conductor}}</td>
              <td>{{registro.data.operario}}</td>
              <td>{{registro.data.observaciones}}</td>
              <td>
                <button class="btn btn-dark btn-osl2" (click)="cargadatos(registro)"><i class="fas fa-file-pdf"></i></button>
              </td>
            </tr>
        </tbody>
      </table>
      <div class="col-6 col-md-2"> 
        <br><br>
        <button class="btn btn-dark btn-osl2" routerLink="/home">Volver</button>
      </div>
</div>
