<div class="mx-2" style="background-color: #F8F8F8; height:100vh">
    <div class="container">
        <div class="col-md-12" style="padding-left: 24px; padding-right: 24px; padding-top:40px">
            <div class="card card-login">
                <div class="container">
                    <div class="row">
                      <div class="col" style="padding: 8px;">
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <div class="mx-2">
                            <img class="logo" alt="logo" src="./assets/imagenes/login/gasolinera.png" width='100%' height='100%'  style="align-content: center;">
                           <br>
                           <br>
                        </div>
                      </div>
                      <div class="col" style="padding: 8px;  margin-top: 60px">
                        <br>
                        
                        <div class="text-center">
                           <h4 class="title">Crea una cuenta</h4> 
                        </div>
        
                        <div class="card-body mt-3">
                            <form method="POST" action="">
                                <br>
                                <div class="register">
                                    <div class="row">
                                        <div class="col">
                                            <label for="name" class="label">
                                                <input type="text" [(ngModel)]="name" id="name" placeholder="" name="name" value="" required autocomplete="name" autofocus>
                                                <span>Nombre</span>
                                            </label>
                                        </div> 
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <label for="email" class="label">
                                                <input type="email" [(ngModel)]="email" id="email"  name="email" value="" required autocomplete="email" placeholder="">
                                                <span>Correo Electronico</span>
                                            </label>
                                        </div> 
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <label for="password">
                                                <input type="password" [(ngModel)]="password" id="password" placeholder=""  name="password" required autocomplete="current-password">
                                                <span>Contraseña</span>
                                            </label>
                                        </div>
                                    </div>  
                                    <br> 
                                </div>
        
                                <div class="form-group row mb-0 mt-3">
                                    <div class="col-6 col-md-6">
                                        <button class="btn btn-osl" (click)="crear()">
                                            Crear cuenta
                                        </button>
                                    </div>
                                    <div class="col-6 col-md-6">
                                        <button class="btn btn-dark btn-osl2" routerLink="/home">
                                            Cancelar
                                        </button> 
                                    </div>
                                </div>
                            </form>
                        </div>  
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
