<!-- <div class="mx-2" style="background-color: #F8F8F8; height:100vh">
    <div class="container">
        <div class="col-md-12" style="padding-left: 24px; padding-right: 24px; padding-top:40px">
            <div class="card card-login">
                <div class="container">
                    <div class="row">
                      <div class="col" style="padding: 8px;">
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <div class="mx-2">
                            <img class="logo" alt="logo" src="./assets/imagenes/login/gasolinera.png" width='100%' height='100%'  style="align-content: center;">
                           <br>
                           <br>
                        </div>
                      </div>
                      <div class="col" style="padding: 8px;  margin-top: 60px">
                        <br>
                        
                        <div class="text-center">
                           <h4 class="title">Crea una cuenta</h4> 
                        </div>
        
                        <div class="card-body mt-3">
                            <form method="POST" action="">
                                <br>
                                <div class="register">
                                    <div class="row">
                                        <div class="col">
                                            <label for="name" class="label">
                                                <input type="text" [(ngModel)]="name" id="name" placeholder="" name="name" value="" required autocomplete="name" autofocus>
                                                <span>Nombre</span>
                                            </label>
                                        </div> 
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <label for="email" class="label">
                                                <input type="email" [(ngModel)]="email" id="email"  name="email" value="" required autocomplete="email" placeholder="">
                                                <span>Correo Electronico</span>
                                            </label>
                                        </div> 
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <label for="password">
                                                <input type="password" [(ngModel)]="password" id="password" placeholder=""  name="password" required autocomplete="current-password">
                                                <span>Contraseña</span>
                                            </label>
                                        </div>
                                    </div>  
                                    <br> 
                                </div>
        
                                <div class="form-group row mb-0 mt-3">
                                    <div class="col-6 col-md-6">
                                        <button class="btn btn-osl" (click)="crear()">
                                            Crear cuenta
                                        </button>
                                    </div>
                                    <div class="col-6 col-md-6">
                                        <button class="btn btn-dark btn-osl2" routerLink="/home">
                                            Cancelar
                                        </button> 
                                    </div>
                                </div>
                            </form>
                        </div>  
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div  class="container py-3">
    <div class="container my-5">
        <div class="row">
            <div class="col-6 col-md-5">
                <div class="col-12 col-md-12 mx-auto sombra" style="border-style: solid !important; border-color: #858586 !important; border-width: 1px; border-radius: 10px; padding: 0px !important;">
                    <div class="card cardosl">
                        <div class="card-body py-5">
                            <div class="px-2">
                                <p class="h3 font-weight-bold text-center titleosl">Crear cuenta</p>
                                <br>
                                <p class="text-center text-muted">Completa todos los datos para crear una cuenta de forma satisfactoria</p>
                                <hr>
                                <form (ngSubmit)="submit()" [formGroup]="form">
                                    <div>
                                        <div class="form-group">
                                            <p>Nombre <b class="text-danger">*</b></p>
                                            <input type="text" formControlName="name" class="form-control" placeholder="Ej: Fernando">
                                        </div>
                                        <br>
        
                                        <div class="form-group">
                                            <p>Correo Electronico<b class="text-danger">*</b></p>
                                            <input type="text"formControlName="email" class="form-control" placeholder="Ej: nombre@gmail.com">
                                        </div>
                                        <br>
        
                                        <div class="form-group">
                                            <p>Contraseña<b class="text-danger">*</b></p>
                                            <input type="password" formControlName="password"class="form-control" placeholder="**********">
                                        </div>
        
                                    </div>
                                    <div class="row">
                                        <div class="col-6 col-md-6">
                                            <button class="btn btn-osl btn-block" type="submit" [disabled]="!form.valid">Crear</button>
                                        </div>
                                        <div class="col-6 col-md-6">
                                            <button class="btn btn-dark btn-osl2" routerLink="/home">Cancelar</button>
                                        </div>
                                    </div>  
                                </form> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-7">
                <div class="row">
                    <div class="card cardOp col-6 col-md-5" *ngFor="let user of this.usuarios">
                        <div class="card-body">
                            <strong class="h6" style="font-weight: 700;">Nombre:</strong><br>
                            {{user.name}}
                            <br>
                            <strong class="h6" style="font-weight: 700;">Email:</strong><br>
                            {{user.email}}
                            <br><br>
                            <button class="btn btn-osl3 btn-block" data-bs-toggle="modal" data-bs-target="#user"(click)="cargadatos(user)" >
                                Editar
                            </button>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="user" tabindex="-1" aria-labelledby="userLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="userLabel">{{datosUser.name}}</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3">
                              <label for="message-text" class="col-form-label">Nombre:</label>
                              <input class="form-control" [(ngModel)]="nameselected" id="message-text">
                            </div>
                            <div class="mb-3">
                                <label for="message-text" class="col-form-label">Email:</label>
                                <input class="form-control" [(ngModel)]="emailselected" id="message-text">
                              </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-osl3" (click)="editar(nameselected, emailselected)">Editar</button>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

