<div class="sticky-top">
    <nav class="navbar  navbar-expand-lg navbar-light pb-0" > 
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="border-style: none !important;">
                <span class="material-icons font-menu" style="color: rgb(255, 255, 255) !important;">
                menu
                </span>
            </button>
    
            <a class="navbar-brand d-none d-md-block" routerLink="/">
                <p>
                    <strong class="logo">
                        OSLcombustibles
                    </strong>
                </p>
            </a>
    
          
    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
                <!-- Izquierda -->
                <ul class="navbar-nav mr-auto">
        
                </ul>
        
                <!-- Derecha -->
                <div style="text-align: center; position: relative;">
                    <ul class="navbar-nav">
                    <div style="display: block; text-align: center;">
                    </div>
            
                    <div class="d-none d-md-block" style="display: block; text-align: center;font-size: 12px !important;">
                    </div>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>
