<div class="mx-2" style="background-color: #F8F8F8; height:100vh">
    <div class="container">
        <div class="col-md-12" style="padding-left: 24px; padding-right: 24px; padding-top:120px">
            <div class="card card-login">
                <div class="container">
                    <div class="row">
                      <div class="col" style="padding: 8px;">
                        <br>
                        <br>
                        <br>
                        <div class="mx-2">
                            <img class="logo" alt="logo" src="./assets/imagenes/login/gasolinera.png" width='90%' height='90%'  style="align-content: center;">
                           <br>
                           <!-- <br>
                            <span class="text1">
                                ¿Aún no tiene una cuenta?
                            </span>
                           <br>
                           <br>
                            <a href="/register" class="create" tabindex="0" aria-disabled="false">
                                <span class="text2">
                                    <b> Crear cuenta </b>
                                </span>
                            </a> -->
                        </div>
                      </div>
                      <div class="col" style="padding: 8px; margin-top: 60px" >
                        <br>
                        
                        <div class="text-center">
                           <h4 class="title">Iniciar sesion</h4> 
                        </div>
        
                        <div class="card-body mt-3">
                            <form method="POST" action="">
                                <br>
                                <div class="register">
                                    <label for="email" class="label">
                                        <input type="email" [(ngModel)]="email" id="email" name="email" required autocomplete="email" placeholder="Correo Electronico">
                                        <span>Correo Electronico</span>
                                    </label>
    
                                    <br>
    
                                    <label for="password">
                                        <input type="password" [(ngModel)]="password" id="password" placeholder="Contraseña"  name="password" required autocomplete="current-password">
                                        <span>Contraseña</span>
                                    </label>
                                    <br>
                                </div>

                                <!-- <div class="right">
                                    <a class="lost" href="/">
                                        <span>
                                            ¿Olvido su contraseña?
                                        </span>
                                    </a>
                                </div> -->
        
                                <br>
                                <div class="form-group row mb-0 mt-3">
                                    <div style="margin: auto;">
                                        <button class="btn btn-login" (click)="login()">
                                            Ingresar
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>  
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>