<div  class="container py-3">
    <div class="container my-5">
        <div class="col-12 col-md-7 mx-auto sombra" style="border-style: solid !important; border-color: #858586 !important; border-width: 1px; border-radius: 10px; padding: 0px !important;">
            <div class="card cardosl">
                <div class="card-body py-5">
                    <div class="px-2">
                        <p class="h3 font-weight-bold text-center titleosl">Crear registro</p>
                        <br>
                        <p class="text-center text-muted">Completa todos los datos para crear un registro de forma satisfactoria</p>
                        <hr>
                            <div>
                                <div class="row">
                                    <div class="col-6 col-md-6">
                                        <p>Cliente <b class="text-danger">*</b></p>
                                        <select class="form-select" [(ngModel)]="clienteObject" >
                                            <option *ngFor="let cli of this.cliente" [value]="cli | json">{{cli.name}}</option>
                                        </select>
                                       {{clienteObject}}
                                    </div>
                                    <div class="col-6 col-md-6">
                                        <p>Vehiculo <b class="text-danger">*</b></p>
                                        <select class="form-select" [(ngModel)]="vehiculoObject">
                                            <option value="1">Vehiuclo ABC-345</option>
                                            <option value="2">Vehiuclo HJF-489</option>
                                        </select>
                                    </div>
                                </div>  
                                <div class="form-group">
                                    <p>Operacion<b class="text-danger">*</b></p>
                                    <select class="form-select" [(ngModel)]="operacionObject" >
                                        <option *ngFor="let op of this.operacion" value="{{op | json}}">{{op.name}}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <p>No. de galones <b class="text-danger">*</b></p>
                                    <input type="number" [(ngModel)]="galones" class="form-control" placeholder="Ej: 38">
                                </div>
                                <div class="row">
                                    <div class="col-6 col-md-6">
                                        <p>Lectura Inicial<b class="text-danger">*</b></p>
                                        <input type="number" [(ngModel)]="l_inicial" class="form-control" placeholder="Ej: 39581,2">
                                    </div>
                                    <div class="col-6 col-md-6">
                                        <p>Lectura Final <b class="text-danger">*</b></p>
                                        <input type="number" [(ngModel)]="l_final" class="form-control" placeholder="Ej: 39619,4">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <p>Valor <b class="text-danger">*</b></p>
                                    <input type="number" [(ngModel)]="valor" class="form-control" placeholder="Ej: $200.000">
                                </div>
                                <div class="row">
                                    <div class="col-6 col-md-6">
                                        <p>Conductor<b class="text-danger">*</b></p>
                                        <input type="text" [(ngModel)]="conductor" class="form-control" placeholder="Ej: Jorge">
                                    </div>
                                    <div class="col-6 col-md-6">
                                        <p>Operario <b class="text-danger">*</b></p>
                                        <input type="text" [(ngModel)]="operario" class="form-control" placeholder="Ej: Fernando">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <p>Observaciones<b class="text-danger">*</b></p>
                                    <textarea class="form-control" [(ngModel)]="Observaciones">
                                        
                                    </textarea>
                                </div>
                            </div>

                        <div>
                            <div class="row">
                                <div class="col-6 col-md-6">
                                    <button class="btn btn-osl" (click)="crear(clienteObject, vehiculoObject, operacionObject, galones, l_inicial, l_final, valor, conductor, operario, Observaciones)">Crear</button>
                                </div>
                                <div class="col-6 col-md-6">
                                    <button class="btn btn-dark btn-osl2" routerLink="/home">Cancelar</button>
                                </div>
                            </div>              
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
